* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  height: 100svh;
  max-height: 100svh;
  overflow: hidden;

}

.flex-col {
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
}

.logo {
  width: 35%;
}

.logo img {
  display: block;
  width: 100%;
  object-fit: cover;
  
}

main {
  /* height: 90svh; */
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(assets/images/analog-landscape-city-with-buildings.avif);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  color: aliceblue;
  gap: 5rem;
  padding: 2rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.hero-content {
  gap: 10px;
}

.hero-content h1 {
  font-weight: 900;
  font-size: clamp(2em, 4vw, 5em);
}

.hero-content p {
  font-size: clamp(1.5em, 2vw, 3em);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.btn-container {
  margin-top: 25px;
}

button[type="submit"] {
  display: inline-block;
  line-height: 1;
  background-color: #69727d;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  fill: #fff;
  text-align: center;
  transition: all 0.3s;
  background-color: rgb(30, 65, 100);
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #33beff;
}

.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 40px;
}

.select-container h3 {
  color: black;
  font-weight: 500;
  font-size: medium;
  margin-bottom: 5px;
  pointer-events: none;
}

.option {
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: #333;
  border-top: #222 solid 1px;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background 0.4s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}

.option:hover {
  background: #666;
}

.select:focus .option {
  position: relative;
  pointer-events: all;
}

input {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

input:checked + label {
  order: 1;
  z-index: 2;
  background: #666;
  border-top: none;
  position: relative;
}

input:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

input:checked + label:before {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  content: "";
  background: #666;
}

.mobile {
  display: none;
  width: 100%;
  height: 40px;
  background: #666;
  color: white;
  padding: 0 5px;
}

footer{
  text-align: center;
  padding: 10px;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.links img{
  object-fit: cover;
  max-width: 1.5rem;
}

@media (max-width: 850px) {
  main {
    gap: 1rem;
    padding-top: 5rem;
  }

  form {
    flex-direction: column;
    width: 90vw;
    padding: 1rem;
    gap: 5px;
  }

  button[type="submit"] {
    padding: 11px 80px;
  }

  .wide {
    display: none;
  }

  .mobile {
    display: block;
  }

  h2.mobile{
    background-color: transparent;
    text-align: center;
  }

  .select-container {
    width: 100%;
  }
}
